# Elixir version
elixir_version=1.9.1

# Erlang version
# available versions https://github.com/HashNuke/heroku-buildpack-elixir-otp-builds/blob/master/otp-versions
erlang_version=22.0.7
hook_pre_compile="pwd"
hook_post_compile="mix release"
#hook_post_compile="ln -s priv/static _build/prod/rel/pr/lib/pr_web-0.1.0/priv/static"
