<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta property="og:title" content="PlayRequest"/>
    <meta property="og:description" content="🎶 An inclusive shared playlist – it's Played by Many 🥰"/>
    <meta property="og:image" content="<%= PRWeb.Endpoint.url() <> Routes.static_path(@conn, "/images/favicon.png") %>"/>
    <meta name="twitter:site" content="PlayRequest"/>
    <meta name="twitter:card" content="summary"/>

    <%= if assigns[:now_playing] do %>
      <meta name="twitter:label1" content="Now Playing"/>
      <meta name="twitter:data1" content="<%= @now_playing.name %>"/>
      <meta name="twitter:label2" content="By"/>
      <meta name="twitter:data2" content="<%= @now_playing.artist %>"/>
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Source+Sans+Pro:400,600,700&display=swap" rel="stylesheet">
    <title>PlayRequest</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="shortcut icon" href="<%= Routes.static_path(@conn, "/images/favicon.png") %>"/>
  </head>
  <body>
    <div class="content">
      <header class="container container--header">
        <div class="col--header">
          <nav role="navigation" class="nav">
            <ul>
              <%= if assigns[:current_user] do %>
                <%= if @current_user.is_trusted do %>
                  <li>
                    <%= link "Load playlist on Sonos",
                        to: Routes.service_setup_path(@conn, :load_playlist),
                        method: :post,
                        class: "button",
                        data: [confirm: "U sure?"]
                        %>
                  </li>
                  <li class="nav__item">
                    <%= link "Setup", to: Routes.service_setup_path(@conn, :index) %>
                  </li>
                <% end %>
              <% end %>
              <li class="nav__item">
                <%= if assigns[:current_user] do %>
                  <%= link "Logout #{@current_user.first_name}",
                      to: Routes.auth_path(@conn, :delete) %>
                  <%= img_tag @current_user.image, class: "profile-image" %>
                <% else %>
                  <%= link "Login",
                      to: Routes.auth_path(@conn, :index) %>
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col--logo">
          <h1 class="logo-heading">
            <%= link to: Routes.live_path(@conn, PRWeb.PlaybackLive), class: "logo-link" do %>
              <%= img_tag(Routes.static_path(@conn, "/images/pr.svg"), class: "logo") %>
              PlayRequest
            <% end %>
          </h1>
        </div>
      </header>
      <main role="main">
        <div class="alert-container">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        </div>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <footer class="footer">
      <p class="version">
        Version: <%= @version %><br />
        Commit: <%= @commit %>
      </p>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
