<div class="volume">
  <span class="label">
    Volume:
  </span>
  <%= for volume <- 5..@max_vol//5 do %>
    <button
      title={
        if @participated,
        do: "Set volume to #{volume}",
        else: "Queue a track to set volume"
      }
      class={if @participated, do: "button--vol", else: "button--vol button--vol--disabled"}
      phx-click="volume"
      value={volume}
    >
      <span class="inner">Set to <%= volume %></span>
    </button>
  <% end %>
</div>
