<div class="volume">
  <span class="label">
    Volume:
  </span>
  <%= for volume <- 5..@max_vol//5 do %>
    <button
      title={
        if @participated,
        do: "Set volume to #{volume}",
        else: "Queue a track to set volume"
      }
      class="button--vol"
      phx-click="volume"
      value={volume}
      disabled={!@participated}
    >
      <span class="inner">Set to <%= volume %></span>
    </button>
  <% end %>
</div>
