/* This file is for your main application css. */

@import "animations";
@import "variables";
@import "type";
@import "layout";
@import "track";
@import "form";
@import "setup-list";
@import "setup-list";
@import "alert";
@import "pie";
@import "fire";
@import "ghost";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-size: 18px;

  background-image: linear-gradient(160deg, $blue, darken($blue, 20));
  background-attachment: fixed;

  &.error {
    background-image: linear-gradient(45deg, $pink, $blue);
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
  }

  &.spooky {
    background-image: linear-gradient(
      3deg,
      rgba(2, 0, 36, 1) 4%,
      rgba(224, 61, 18, 1) 14%,
      rgba(181, 112, 39, 1) 26%,
      rgba(133, 33, 103, 1) 40%,
      rgba(25, 21, 88, 1) 70%,
      rgba(0, 0, 3, 1) 100%
    );
  }
}


.is-pending {
  opacity: 0.5;
}

progress {
  width: 100%;
}

.version {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.canvas-container {
  display: none;
}
