/* This file is for your main application css. */

@import "animations";
@import "variables";
@import "type";
@import "layout";
@import "track";
@import "form";
@import "setup-list";
@import "setup-list";
@import "alert";
@import "pie";
@import "fire";
@import "ghost";

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  height: 100%;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-size: 18px;

  background-image: linear-gradient(-60deg, $blue, darken($blue, 30));

  background-attachment: fixed;

  &.error {
    background-image: linear-gradient(45deg, $pink, $blue);
    background-size: 200% 200%;
    animation: gradient 1s ease infinite;
  }

  &.spooky {
    background-image: linear-gradient(
      3deg,
      rgba(2, 0, 36, 1) 4%,
      rgba(224, 61, 18, 1) 14%,
      rgba(181, 112, 39, 1) 26%,
      rgba(133, 33, 103, 1) 40%,
      rgba(25, 21, 88, 1) 70%,
      rgba(0, 0, 3, 1) 100%
    );
  }
  &.paddy {
    background-color: #0b9a00;
    background-image: linear-gradient(115deg, #086c00 0%, #0db300 100%);
  }
}


.is-pending {
  opacity: 0.5;
}

progress {
  width: 100%;
}

.version {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.canvas-container {
  display: none;
}

.flag-4,
.flag-1 {
  fill: #FFFFFF;
}
.flag-2 {
  fill: #32FAD7;
}
.flag-3 {
  fill: #FF1D79;
}

.co {
  .flag-1 {
    fill: #EFC944;
  }
  .flag-2 {
    fill: #0F2D7C;
  }
  .flag-3 {
    fill: #B83F47;
  }
}

.de {
  .flag-1 {
    fill: #000000;
  }
  .flag-2 {
    fill: #DD0000;
  }
  .flag-3 {
    fill: #FFCE00;
  }
}

body.paddy,
.ie {
  .flag-1 {
    fill: #ff5a0e;
  }
  .flag-2 {
    fill: #FFFFFF;
  }
  .flag-3 {
    fill: #00ff1a;
  }
}

.we {
  .flag-1 {
    fill: #FFFFFF;
  }
  .flag-2 {
    fill: #D30731;
  }
  .flag-3 {
    fill: #00AD36;
  }
}

.pride {
  .flag-1 {
    fill: #e81416; // Red
  }
  .flag-2 {
    fill: #ffa500; // Orange
  }
  .flag-3 {
    fill: #faeb36; // Yellow
  }
  .flag-4 {
    fill: #79c314; // Green
  }
  .flag-5 {
    fill: #487de7; // Blue
  }
}

.es {
  .flag-1 {
    fill: #AA151B; // Red
  }
  .flag-2 {
    fill: #F1BF00; // Yellow
  }
  .flag-3 {
    fill: #AA151B; // Red
  }
}
