html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px 40px 20px;
}

.container {
  padding: 20px 40px 0;
  display: grid;
  grid-row-gap: 20px;

  grid-template-columns: 1fr;
  grid-template-rows: auto;

  grid-template-areas:
    "left"
    "right";

  @media (min-width: 800px) {
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "left left right right"
      "footer footer footer footer";
  }

  &.container--middle {
    grid-template-areas:
      "left_ main main right_";
    }
}

.container--header {
  grid-row-gap: 10px;

  grid-template-areas:
    "logo"
    "header";

  @media (min-width: 800px) {
    grid-template-areas:
      "logo logo header header";
    align-items: flex-end;

  }
}
.col--left,
.col--search {
  grid-area: left;
  max-width: 100%;
}
.col--right,
.col--playlist {
  grid-area: right;
  max-width: 100%;
}
.col--main {
  grid-area: main;
}
.col--logo {
  grid-area: logo;
  padding: 20px 0;
  align-self: flex-start;

  @media (max-width: 800px) {
    padding: 0 0 10px 0;
  }
}
.col--header {
  grid-area: header;
  text-align: right;
  padding: 20px 0;

  @media (max-width: 800px) {
    padding: 0;
    text-align: left;
  }
}

.search--sticky {
  position: sticky;
  top: 50px;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  ul {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @media (min-width: 800px) {
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
  li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 3px 20px 3px 0;
    white-space: nowrap;
  }
  .button {
    margin-right: 10px;
    justify-self: flex-end;
    flex: 1;
  }
}

.user {
  justify-self: flex-end;
  margin-left: 20px;
  background: silver;
  padding: 4px 5px;
  border-radius: 30px;
  background: $blue;
  display: inline-block;
  box-shadow: 1px 0 20px $shad;

  &__hearts {
    vertical-align: middle;
    margin-left: 1ex;

    .heart {
      margin-right: 10px;
    }
  }
}

.users {
  &-container {
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
    display: flex;
  }
  &--title {
    padding: 0 1ex;
  }
  padding: 4px;
  border-radius: 30px;
  background: $darkerBlue;
  display: inline-block;
  box-shadow: 1px 0 20px $shad;

  .profile-image {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: -15px;
    background: orange;
    border: 1px solid $darkerBlue;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.profile-image {
  width: 45px;
  height: auto;
  border-radius: 30px;
  vertical-align: middle;
}

.promo-image {
  width: 80%;
  max-height: 480px;
}
