
.search-results {
  margin-top: 10px;
}

.chips {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.chip {
  display: inline-flex;
  border-radius: 100px;
  background: $blue;
  color: #fff;
  padding: 4px 8px 4px 6px;

  justify-content: flex-start;
  align-items: center;
  margin-right: 1ex;
  font-size: 14px;
  .pie {
    margin-right: 5px;
  }


  &__number,
  &__img {
    border-radius: 100px;
    width: 17px;
    height: 17px;
    flex: 0 0 17px;
    margin-right: 5px;
  }

  &--light {
    background: lighten($lightGrey, 10);
  }
  &--pink {
    background: $pink;
  }
  &--grey {
    background: $darkGrey;
  }
}

.track {
  position: relative;
  margin: 10px 0 0;
  border-radius: 15px;
  background: $white;
  box-shadow: 1px 0 20px $shad;
  color: $text;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  transition: box-shadow 200ms ease;

  h3 {
    color: $blue;
  }

  a {
    color: $blue;
  }
  a:hover .link {
    box-shadow: inset 0 -8px 0 0 transparentize($pink, 0.8);
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &--light {
    background: transparentize($white, 0.8);
    box-shadow: none;
    color: $white;

    h3 {
      color: $teal;
    }

    &:hover {
      box-shadow: 1px 0 20px $strongShad;
    }
  }

  &--dark {
    color: $white;
    background: $darkerBlue;

    h3 {
      color: inherit;
    }
  }

  &:first-child {
    margin-top: 0;
  }

  &.playing {
    box-shadow: 1px 0 30px rgba(0, 0, 0, 0.4);
  }

  &__details {
    flex: auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    & p {
      margin: 0;
      padding: 0;
    }
  }

  &__name {
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__img__container {
    flex: 0 0 100px;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px 15px 10px 10px;

    .has-voted & {
      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        display: block;
        background: url(/images/heart_pink.svg) 50% 50% no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        bottom: -3px;
        right: -3px;
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
  }

  &__queue {
    width: 60px;
    justify-self: flex-end;
    align-self: stretch;
    background: $teal;
    border: none;
    background: url(/images/arrow.svg) 50% 50% no-repeat;
    background-size: 40% 40%;
    transition: transform 200ms ease-out;
    cursor: pointer;
    transform: translate(0, 0);

    &:focus {
      outline: none;
    }

    &:hover {
      transform: translate(5px, 0) scale(1.1);
    }
  }

  &__skipped-link {
    opacity: 0;
    transition: opacity 200ms ease;
    margin-left: 10px;

    .track:hover & {
      opacity: 1;
    }
  }

  &__like {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
  }

  &--liked {
    animation: pulsate-fwd 0.4s ease-in-out 3 both;
  }

  &__playing {
    width: 18px;
    height: 18px;
    margin-bottom: -1px;
    margin-right: 5px;
  }
}

.progress {
  display: block;
  flex: 0 0 100%;
  box-sizing: border-box;
  padding: 6px 12px 12px;

  &__bar {
    position: absolute;
    height: 100%;
    bottom: 12px;
    height: 6px;
    max-width: calc(100% - 24px);
    transition: width 900ms linear;

    background: $pink;

    border-radius: 10px;
  }
}

.novelty {
  &__container {
    position: relative;
    display: flex;
    margin-right: 20px;
  }

  &__score {
    border-radius: 100px;
    padding: 2px;
    align-self: center;
  }
  &__title {
    font-weight: normal;
    padding-top: 4px;
    font-size: 10px;
  }

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: $white;
    background: $tealDark;
    border-radius: 100px;
    width: 47px;
    height: 47px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    p {
      padding: 0;
      margin: 0;
      display: block;
      user-select: none;
      cursor: help;
    }
    .track {
      color: $pink;
    }
    .artist {
      color: $blue;
    }
  }
}

.heart {
  width: 12px;
  height: 18px;
  padding-left: 5px;
  vertical-align: middle;
  margin-bottom: 2px;
  display: inline-block;

  &:first-of-type {
    padding-left: 8px;
  }
}

.flip {
  &__back,
  &__front {
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    left: 0;
    top: 0;
  }

  &__container {
    border: none;
    outline: none;
    position: relative;
    padding: 0;
    margin: 0;
    perspective: 600px;
    &.animate {
      cursor: pointer;
    }
  }

  &__flipper {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    transition: transform 400ms ease-in-out;
  }

  &__front {
    z-index: 2;
    backface-visibility: hidden;
  }

  &__back {
    z-index: 1;
    transform-style: preserve-3d;
    transform: rotateY(180deg) translate3d(0, 0, 0) scale(1);
    background: $blue url(/images/heart.svg) 50% 50% no-repeat;
    background-size: 70% 70%;
    border-radius: 11px;
  }

  &__container.animate:hover .flip__flipper {
    transform: rotateY(180deg) scale(1.1);
  }
  &__container.animate:focus-visible .flip__flipper {
    transition-duration: 100ms;
    transform: rotateY(180deg);
  }
}


.track + h3,
.track + h2 {
  margin-top: 30px;
}

h3 + .track,
h2 + .track {
  margin-top: 10px;
}

.spotify {
  margin-right: 0.8ex;
}
