$headingFont: "Grota";
$headingFontBlack: "GrotaBlack";
$fontName: "GrotaSansRd";
$font80s: "BoogieBoys";

@font-face {
  font-family: $headingFontBlack;
  src:
    url("/fonts/#{$fontName}-Bold.woff") format("woff"),
    url("/fonts/#{$fontName}-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}
@font-face {
  font-family: $headingFont;
  src:
    url("/fonts/#{$fontName}-SemiBold.woff") format("woff"),
    url("/fonts/#{$fontName}-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
}

@font-face {
  font-family: $headingFont;
  src:
    url("/fonts/#{$fontName}-Light.woff") format("woff"),
    url("/fonts/#{$fontName}-Light.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
}

@font-face {
  font-family: #{$font80s}Regular;
  src:
    url("/fonts/#{$font80s}Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: #{$font80s}Extrude;
  src:
    url("/fonts/#{$font80s}Extrude.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: #{$font80s}Shadow;
  src:
    url("/fonts/#{$font80s}Shadow.otf") format("opentype"); 
  font-weight: normal;
}

body {
  line-height: 1.4;
  color: transparentize($white, 0.2);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: $headingFont, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: $white;
  letter-spacing: 0.05ex;
}
h1 {
  font-family: $headingFontBlack, sans-serif;
  font-size: 50px;
  & + p {
    margin-top: 10px;
  }
}
h2 {
  font-size: 35px;
  margin-bottom: 20px;
  letter-spacing: 0.06ex;
}
h3 {
  font-size: 18px;
  margin: 10px 0 8px;
}
p {
  h3 + & {
    margin-top: 5px;
  }
}

.header--80s {
  font-family: #{$font80s}Regular;
  position: relative;
  font-size: 1.5em;
  bottom: -0.25em;
  
  .size {
    position: relative;
    visibility: hidden;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: green;

    &.regular {
      font-family: #{$font80s}Regular;
      color: $white;
    }

    &.extrude {
      font-family: #{$font80s}Extrude;
      color: $blue;
    }
    &.shadow {
      font-family: #{$font80s}Shadow;
      color: $teal;
    }
  }
}
.intro {
  font-size: 1.5em;
  margin-bottom: 1em;
  & + p {
    margin-top: 0;
  }
  h2 + & {
    margin-top: -10px;
  }
}
.login {
  padding-top: 30px;
}
a {
  text-decoration: none;
  color: $white;
}

a.link,
.link {
  transition: box-shadow 200ms ease;
}

a.link:hover,
a:hover .link {
  box-shadow: inset 0 -8px 0 0 $pink;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid $border;
  transition: border 200ms ease;
  font-size: 14px;
  background: none;
  color: inherit;
  cursor: pointer;
  letter-spacing: 0.08ex;
  border-radius: 20px;

  &:focus {
    outline: none;
  }
  &:hover {
    border-color: $white;
  }

  & + & {
    margin-left: 20px;
  }

  h3 + & {
    margin-top: 10px;
  }

  &.loading {
    background: url("/images/loading.svg") no-repeat 50% 50%;
    width: 80px;
    text-indent: 99999px;
  }

  &--primary {
    background-color: $white;
    color: $blue;
    border-color: $white;
    border-width: 1px;
    transition: box-shadow 200ms ease-in;
    box-shadow: 1px 0 0px $shad;

    &:hover {
      box-shadow: 1px 0 20px $shad;
    }
  }
}

.logo {
  display: inline-block;
  width: 60px;
  height: auto;
  vertical-align: bottom;
  margin: 0 8px 4px 0;

  &-link {
    color: $white;
    letter-spacing: 0.06ex;
  }
}

@media (max-width: 950px) {
  .logo {
    width: 40px;
    margin: 0 6px 7px 0;

    &-link {
      font-size: 40px;
    }
  }
}

.box {
  padding: 40px 30px 20px;
  margin-top: 30px;

  border-radius: 15px;
  background: $darkerBlue;

  .shad {
    box-shadow: 1px 0 20px $shad;
  }

  h3 {
    margin-top: 0;
  }
}

.volume {
  display: flex;
  margin-left: 20px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border;
  border-radius: 20px;
  padding: 0 5px 0 15px;
  text-transform: uppercase;
  font-size: 14px;
  .label {
    margin-right: 1ex;
  }
}
.button--vol {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  padding: 10px 6px;

  .inner {
    flex: 1;
    background: $border;
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    transform: scale(1);
    text-indent: -100px;
    overflow: hidden;
    transition:
      background-color 200ms ease-out,
      transform 200ms ease-in;
  }

  &:hover {
    cursor: pointer;
    .inner {
      background: $white;
      transform: scale(2);
    }
  }
}
