$white: #fff;
$teal: #32fad7;
$tealDark: darken($teal, 20);
$lightGrey: #c5c6c7;
$blue: #2353f3;
$pink: #FF1D79;
$darkerBlue: #0a0d36;
$text: #42447d;
$shad: rgba(0, 0, 0, 0.2);
$strongShad: rgba(0, 0, 0, 0.4);
$avatarSize: 40px;
