$white: #fff;
$teal: #32fad7;
$tealDark: darken($teal, 30);
$lightGrey: #c5c6c7;
$darkGrey: darken($lightGrey, 40);
$blue: #2353f3;
$pink: #ff1d79;
$darkerBlue: #0a0d36;
$text: #42447d;
$shad: rgba(0, 0, 0, 0.2);
$strongShad: rgba(0, 0, 0, 0.4);
$avatarSize: 40px;
$border: rgba(255, 255, 255, 0.5);
