<header class="container--header">
  <%= live_render(@conn, PRWeb.LogoLive, id: :logo) %>
  <%= live_render(@conn, PRWeb.UserHeaderLive, id: :user_header) %>
</header>
<main role="main">
  <div class="alert-container">
    <.flash class="alert alert-info" kind={:info} title="Success!" flash={@flash} />
    <.flash class="alert alert-danger" kind={:error} title="Error!" flash={@flash} />
  </div>
  <%= @inner_content %>
</main>

