<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:description" content="🎶 Contribute to the Sonos playlist" />
    <meta property="og:image" content={url(~p"/images/pr.png")} />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap"
      rel="stylesheet"
    />
    <title>Oh dear</title>
    <link phx-track-static rel="icon" href={~p"/images/favicon.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  </head>
  <body>
    <div class="content">
      <header class="container--header">
        <h1 class="logo-heading">
          <.link href={~p"/"} class="logo-link">
            :(
          </.link>
        </h1>
      </header>
      <main role="main">
        <%= @inner_content %>
      </main>
    </div>
  </body>
</html>
