/* This file is for your main application css. */

@import "./track.scss";
@import "./form.scss";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

html {
  height: 100%;
  padding: 0;
  background: blue;
}
body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Livvic', sans-serif;
  font-size: 18px;
}
.phx-hero {
  background-color: #FFE53B;
  background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
  border: none;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  background: none;
}

.container {
  max-width: 100%;
}

.page-heading {
  font-weight: bold;
  font-size: 25px;
}

.is-pending {
  opacity: 0.5;
}

progress {
  width: 100%;
}

h1 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
h2 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
h3 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.container {
  padding: 0 20px 0;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px auto 20px;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer";
}
.col--search {
  grid-area: left;
}
.col--playlist {
  border: 1px solid orange;
  grid-area: right;
}
