.track {
  display: flex;
  padding: 10px 0 0;
  align-items: center;

  &__details {
    flex: 1;
    font-size: 16px;
    & p {
      margin: 0;
      padding: 0;
    }
  }

  &__name {
    font-weight: bold;
    margin-bottom: 0.2em;
  }

  &__artist {
  }

  &__img {
    flex: 0;
    width: 60px;
    height: auto;
    display: block;
    border-radius: 100px;
    margin-right: 20px;
  }
}
