.alert-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 1fr [main] 2fr [main-end] 1fr;
}

.alert {
  margin: 0;
  padding: 0;

  &--entrance {
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
  }
}
.alert:not(:empty) {
  grid-column: main;
  background: $teal;
  color: $darkerBlue;
  padding: 10px 20px;
  font-weight: 600;
}
