/* This file is for your main application css. */

@import "./type.scss";
@import "./layout.scss";
@import "./track.scss";
@import "./form.scss";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

html {
  height: 100%;
  padding: 0;
  background: blue;
}

body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  height: 100%;
  margin: 0;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.is-pending {
  opacity: 0.5;
}

progress {
  width: 100%;
}
