/* This file is for your main application css. */

@import "./type.scss";
@import "./layout.scss";
@import "./track.scss";
@import "./form.scss";
@import "./setup-list.scss";
@import "../../../../deps/phoenix_live_view/assets/css/live_view.css";

html {
  height: 100%;
  padding: 0;
}

body {
  background-color: #0b0c10;
  background-image: linear-gradient(45deg, #1f2833, #0b0c10);
  color: #c5c6c7;
  height: 100%;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}

.is-pending {
  opacity: 0.5;
}

progress {
  width: 100%;
}
