input {
  background: none;
  border: none;
  font-size: inherit;
}

input[type="text"] {
  display: block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 1px 0 0 transparent;

  border: 2px solid transparentize($white, 0.5);
  outline: none;
  border-radius: 15px;

  color: $text;
  font-family: inherit;
  transition: background 200ms ease, box-shadow 200ms ease;

  &::placeholder {
    transition: color 200ms ease;
    color: transparentize($white, 0.5);
  }

  &:focus {
    box-shadow: 1px 0 20px $shad;
    background-color: $white;

    &::placeholder {
      color: transparentize($text, 0.5);
    }
  }

  .loading & {
    background-image: url("/images/loading.svg");
    background-position: 98% 0;
    background-repeat: no-repeat;
  }

  .active & {
    background-color: $white;
  }
}
