input {
  background: none;
  border: none;
  font-size: inherit;
}

input[type="text"] {
  display: block;
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 1px 0 0 transparent;

  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  border-radius: 15px;

  color: inherit;
  font-family: inherit;
  transition: background 200ms ease, box-shadow 200ms ease;

  &:focus {
    //border-color: #fff;
    box-shadow: 1px 0 20px $shad;
    background: $white;
  }

  .loading & {
    background: url("/images/loading.svg") 98% 0 no-repeat;
  }
}
