body {
  line-height: 1.4;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #66fcf1;
}
h1 {
  font-size: 50px;
  & + p {
    margin-top: 10px;
  }
}
h2 {
  font-size: 35px;
  margin-bottom: 5px;
  font-weight: 400;
  letter-spacing: 0.06ex;
}
h3 {
  font-size: 18px;
  margin: 10px 0 8px;
}
p {
  h3 + & {
    margin-top: 5px;
  }
}
.intro {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  & + p {
    margin-top: 0;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: border 200ms ease;
  font-size: 12px;
  background: none;
  color: inherit;
  cursor: pointer;
  letter-spacing: 0.08ex;

  &:focus {
    outline: none;
  }
  &:hover {
    border-color: #fff;
  }

  & + & {
    margin-left: 20px;
  }

  h3 + & {
    margin-top: 10px;
  }

  &.loading {
    background: url("/images/loading.svg") no-repeat 50% 50%;
    width: 80px;
    text-indent: 99999px;
  }
}

.logo-heading {
}
.logo {
  display: inline-block;
  width: 60px;
  height: auto;
  vertical-align: bottom;
  margin: 0 0 3px 0;
}

.welcome {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 20px 10px 20px;
  margin-top: 30px;
}
